.label-input-field {
    padding: 1rem 0;
}

input {
    width: 100%;
    min-height: 1rem;
    padding: .7rem;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    background-color: rgb(236, 236, 236);
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

label {
    text-transform: none !important;
}

input[type="file"] {
    content: 'Choose new photo';
    background-color: inherit;
    box-shadow: none;
}